<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <%link_to"admin_home", admin_home_path, class: "nav-link" %>
          <a class="nav-link" href="/admin_home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/group_home">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/project_home">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/create_users">Users</a>
        </li>
        <% if @admin %>
          <li class="nav-item">
            <a class="nav-link"> Logged in as <%= @admin.email %>   
             </a>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", logout_path, method: :delete %>
          </li>
         <% end %>
      </ul>
    </div>
  </div>
</nav>



<h1>Create User</h1>

<%= form_with model: @user, url: create_users_path do |form| %>
    

    <% if @user.errors.any? %>
                <div class="alert alert-danger">
                    <% @user.errors.full_messages.each do |message| %>
                        <div> <%= message %> </div>
                    <% end %>
                </div>
            <% end %>  

    <div class="mb-3">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control", placeholder: "your name" %>
    </div>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "lname@osu.edu" %>
    </div>
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "1234" %>
    </div>
    <div class="mb-3">
        <%= form.submit "Create User", class: "btn btn-primary" %>
    </div>
<% end %>

<body>
    <h2> Students </h2>
    <table class="table">
        <tr>
            <th> Name </th>
            <th> Email </th>
            <th> Password </th>
        </tr>
        <% @users.each do |usr| %>
        <tr>
            <td><%= usr.name %> </td>
            <td><%= usr.email %> </td>
            <td><%= usr.password %> </td>
            <td><%= link_to "Delete", cusers_path(id: usr.id), method: :delete, class: "btn btn-danger" %></td>
        </tr>
        <% end %>
    </table>
</body>