
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/user_groups">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user_proj">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user_eval">Eval</a>
        </li>
        <% if @user %>
          <li class="nav-item">
            <a class="nav-link"> Logged in as <%= @user.email %>   
             </a>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", logout_path, method: :delete %>
          </li>
         <% end %>
      </ul>
    </div>
  </div>
</nav>

<h1>Peer Evaluation</h1>


<div>
  <%if projects.users.any?%>
    <%projects.users do |user|%>
      <tr>
        <td><%= user.name%></td>
        <td>
          <%= form_with model :@evaluation, url: new_eval_path do |form|%>
          <%= form.label :rating %>
          <%= form.text_field :rating,class: "form-control" %>
        </td>
        <td>
          <%= form.label :comment %>
          <%= form.text_field :context,class:"form-control" %>
        </td>
        <td>
          <%= form.submit "Submit", class: "btn btn-danger"%>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</div>

